In [1]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

import STARTHER
import nvdbapiv3
import nvdbgeotricks

Legger NVDB api til søkestien

In [3]:
sok = nvdbapiv3.nvdbFagdata( 872 )
mydf = pd.DataFrame( sok.to_records( ))

In [15]:
col = [ 'Høyde maks', 'Type',
       'Regulert for', 'Formål', 'Lengde', 'Høyde min', 'Beskrivelse',
  'Bredde',  'Lokalitetsnavn', 'Flerbrukspassasje', 'Åpenhet']
mydf[col]

,Høyde maks,Type,Regulert for,Formål,Lengde,Høyde min,Beskrivelse,Bredde,Lokalitetsnavn,Flerbrukspassasje,Åpenhet
0,0.8,Kulvert,Musling og elveørret,Akvatisk,15.0,0.8,Bekk nr 7,NaN,NaN,NaN,NaN
1,1.0,Kulvert,Musling og elveørret,Akvatisk,10.0,1.0,Bekk nr 8,1.0,NaN,NaN,NaN
2,NaN,Kulvert,Musling og elveørret,Akvatisk,10.0,NaN,Bekk nr 5,3.0,NaN,NaN,NaN
3,NaN,Kulvert,Musling og elveørret,Akvatisk,10.0,NaN,Bekk nr 6,1.0,NaN,NaN,NaN
4,NaN,Kulvert,Storørret,Akvatisk,10.0,NaN,Bekk nr 4,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
818,NaN,Undergang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
819,3.0,Kulvert,Sjøørret,Akvatisk,20.0,2.8,NaN,2.0,Eidesjøen,NaN,NaN
820,1.0,Kulvert,Sjøørret,Akvatisk,29.0,NaN,NaN,2.0,Angeltveitvassdraget,NaN,NaN
821,1.4,Kulvert,Sjøørret,Akvatisk,29.0,1.0,NaN,1.0,Angeltveitvassdraget,NaN,NaN
822,2.5,Kulvert,Sjøørret,Akvatisk,10.0,1.5,NaN,2.0,NaN,NaN,NaN

In [10]:
mydf['Type'].value_counts( dropna=False)

Kulvert      459
NaN          273
Undergang     56
Overgang      19
Sluse         16
Name: Type, dtype: int64

In [27]:
mydf.dtypes

objekttype                 int64
nvdbId                     int64
versjon                    int64
startdato                 object
Høyde maks               float64
Type                      object
Regulert for              object
Formål                    object
Lengde                   float64
Høyde min                float64
Beskrivelse               object
veglenkesekvensid          int64
detaljnivå                object
typeVeg                   object
kommune                    int64
fylke                      int64
vref                      object
veglenkeType              object
vegkategori               object
fase                      object
vegnummer                  int64
relativPosisjon          float64
adskilte_lop              object
trafikantgruppe           object
geometri                  object
Bredde                   float64
relasjoner                object
Lokalitetsnavn            object
Flerbrukspassasje         object
Åpenhet                  float64
Etableringsår            float64
Vedlikeholdsansvarlig     object
Eier                      object
dtype: object

In [26]:
ant = len( mydf )
col = ['Formål', 'Type']
fylker = list( mydf['fylke'].unique() )
for fylke in fylker: 
    temp = mydf[ mydf['fylke'] == fylke]
    ant = len( temp)
    print( f"=====================\n\n   Fylke {fylke}")
    for cc in col: 
        mangler = temp[cc].isna().sum()
        print( f"\tFylke {fylke}:  {mangler:4} av {ant:4} {round(100*mangler/ant):5}% mangler dataverdi for {cc}" )

=====================

   Fylke 30
	Fylke 30:   109 av  143    76% mangler dataverdi for Formål
	Fylke 30:    64 av  143    45% mangler dataverdi for Type
=====================

   Fylke 54
	Fylke 54:     0 av    1     0% mangler dataverdi for Formål
	Fylke 54:     0 av    1     0% mangler dataverdi for Type
=====================

   Fylke 34
	Fylke 34:     9 av   15    60% mangler dataverdi for Formål
	Fylke 34:     1 av   15     7% mangler dataverdi for Type
=====================

   Fylke 3
	Fylke 3:     0 av    1     0% mangler dataverdi for Formål
	Fylke 3:     0 av    1     0% mangler dataverdi for Type
=====================

   Fylke 11
	Fylke 11:     6 av   21    29% mangler dataverdi for Formål
	Fylke 11:     0 av   21     0% mangler dataverdi for Type
=====================

   Fylke 38
	Fylke 38:    99 av   99   100% mangler dataverdi for Formål
	Fylke 38:    99 av   99   100% mangler dataverdi for Type
=====================

   Fylke 42
	Fylke 42:    50 av   53    94% mangler dataverdi for Formål
	Fylke 42:    50 av   53    94% mangler dataverdi for Type
=====================

   Fylke 15
	Fylke 15:     7 av   10    70% mangler dataverdi for Formål
	Fylke 15:     0 av   10     0% mangler dataverdi for Type
=====================

   Fylke 50
	Fylke 50:     0 av  105     0% mangler dataverdi for Formål
	Fylke 50:    54 av  105    51% mangler dataverdi for Type
=====================

   Fylke 18
	Fylke 18:     0 av    5     0% mangler dataverdi for Formål
	Fylke 18:     5 av    5   100% mangler dataverdi for Type
=====================

   Fylke 46
	Fylke 46:     1 av  370     0% mangler dataverdi for Formål
	Fylke 46:     0 av  370     0% mangler dataverdi for Type